<header class="main-header">
  <h1><a href="{% url 'home' %}">PokeBattle</a></h1>
</header>

<nav>
  <ul class="navbar">
    <li class="navbar-item"><a href="{% url 'battles:create_battle' %}">Create a Battle</a></li>
    <li class="navbar-item"><a href="{% url 'battles:settled_battles' %}">Settled Battles</a></li>
    <li class="navbar-item"><a href="{% url 'home' %}">Active Battles</a></li>
    <li class="welcome-user">
      {% if user.is_authenticated %}
        Welcome, {{ user.get_short_name }} |
        <a href="{% url 'users:logout' %}" class="auth-link">Logout</a>
      {% else %}
      <a href="{% url 'users:login' %}" class="auth-link">Login</a> | <a href="{% url 'users:signup' %}" class="auth-link">Sign Up</a>
      {% endif %}
    </li>
  </ul>
</nav>
