@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,700&display=swap');

select, input {
  background-color: $purple;
  border: none;
  color: $white;
  padding: 5px;
}

body {
  height: 100vh;
  background: $lilac-gradient;
  color: $blue-grey;
  font-family: 'Montserrat', sans-serif;
}

main {
  margin: 0 8vw;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1, h2, h3 {
  font-weight: 700;
}

a {
  color: inherit !important;
  text-decoration: none !important;
}
