$white: #ffffff;
$black: #000000;
$shadow-black: #000000bf;
$orange: #f9ab2f;
$blue-grey: #29344c;
$purple: #8370cc;
$lilac-gradient: linear-gradient(180deg, #e1d0ef 0%, #cab8fb 100%);
$grey: #444444;
