$white: #ffffff;
$black: #000000;
$shadow-black: #000000bf;
$orange: #f9ab2f;
$blue-grey: #29344c;
$purple: #8370cc;
$lilac-gradient: linear-gradient(180deg, #e1d0ef 0%, #cab8fb 100%);
$rainbow-gradient: linear-gradient(145deg, #a2eef9 14%, #98ccff 28%, #d0b9f0 42%, #fecbfe 56%, #ccf998 70%, #ccf9e9 84%);
$grey: #444444;
