{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block body %}
<form method="post" class="login-form">
  {{ form.non_field_errors }}
  <h2 class="login-title">Login</h2>
  {% csrf_token %}
  <div class="login-container">
    <label class="login-label" for="username">Email</label>
    {{ form.username }}
  </div>
  <div class="login-container">
    <label class="login-label" for="password">Password</label>
    {{ form.password }}
  </div>
  <input type="submit" class="login-submit">
</form>
{% endblock %}
