{% extends 'base.html' %}

{% block title %}Sign Up{% endblock %}

{% block body %}
{% if user_already_logged %}
  <h3>You're already logged in. <a href="">Logout</a></h3>
{% else %}
<form method="post" class="sign-up-form">
  {% csrf_token %}
  {% if form.errors %}
    {% for field in form %}
      {{ field.errors }}
    {% endfor %}
  {% endif %}
  <div class="sign-up-container">
    <label for="username" class="sign-up-label">Username</label>
    {{ form.email }}
  </div>
  <div class="sign-up-container">
    <label for="password1" class="sign-up-label">Password</label>
    {{ form.password1 }}
  </div>
  <div class="sign-up-container">
    <label for="password2" class="sign-up-label">Repeat Password</label>
    {{ form.password2 }}
  </div>
  <input type="submit" name="Sign Up" id="sign-up">
</form>
{% endif %}
{% endblock %}
