.choose-team-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .choose-team-title {
    margin-bottom: 50px;
  }

  .errorlist {
    @include error-message
  }

  #id_trainer {
    display: none;
  }
  .choose-team-container {
    display: grid;
    justify-content: center;
    grid-gap: 10px;
  }
  .choose-pokemon-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .choose-pokemon-label{
      margin: 0;
      margin-right: 15px;
    }
  }
  .team-form-button {
    margin-top: 20px;
    font-weight: 500;
  }
}

.team-already-exists-title {
  text-align: center;
}
