.choose-team-form {
  @include form-grid;

  .choose-team-title {
    @include form-title;
  }

  .errorlist {
    @include message
  }

  #id_trainer {
    display: none;
  }
  .choose-pokemon-container {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 180px auto auto auto;

    .choose-pokemon-label{
      @include form-label;
    }
    .choose-round-label {
      margin: 0 20px;
    }
  }
  .team-form-button {
    @include form-submit;
  }
}
