.choose-team-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .choose-team-title {
    margin-bottom: 50px;
  }

  .errorlist {
    background-color: $orange;
    color: #ffffff;
    border-radius: 10px;
    border: 2px solid $orange;
    box-shadow: 0px 1px 15px -10px #000000bf;
    width: fit-content;
    font-size: 1.1rem;
    font-weight: 700;
    padding: 1rem;
    margin-bottom: 2rem;
  }

  #id_trainer {
    display: none;
  }
  .choose-team-container {
    display: grid;
    justify-content: center;
    grid-gap: 10px;
  }
  .choose-pokemon-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .choose-pokemon-label{
      margin: 0;
      margin-right: 15px;
    }
  }
  .team-form-button {
    margin-top: 20px;
    font-weight: 500;
  }
}

.team-already-exists-title {
  text-align: center;
}
