.detail-title {
  font-weight: 600;
}

.winner-icon {
  width: 30px;
}

.team-container {
  display: grid;
  grid-auto-flow: column;
}
.battle-container {
  margin-top: 30px;
}

.round-detail {
  display: flex;
  justify-content: space-evenly;
  margin: 40px;

  .versus {
    font-weight: 700;
    align-self: center;
  }
}
