.active-battle-list {
  @include list-container;

  .active-battle-columns {
    @include list-item(40px repeat(4, 1fr));
    font-weight: 500
  }

  .active-battle-row {
    @include list-item(40px repeat(4, 1fr));

    .active-battle-row-item {
      align-self: center;
    }

    .pokeball-icon, .cross-icon{
      width: 20px;
    }
    .tick-icon, .cross-icon {
      justify-self: center;
    }
    .tick-icon {
      width: 25px;
    }
  }
}
.answer-link{
  position: relative;

  &:after {
      content: 'Answer';
      color: $white;
      background-color: $orange;
      padding: 5px;
      position: absolute;
      right: 0;
      bottom: 12px;
      font-weight: 500;
      outline: dashed $blue-grey;
  }
}
