.active-battle-list {
  @include list-container;

  .active-battle-columns {
    @include list-item(40px repeat(4, 1fr));
    font-weight: 500
  }
  .active-battle-row {
    @include list-item(40px repeat(4, 1fr));

    .active-battle-row-item {
      align-self: center;
    }

    .pokeball-icon, .cross-icon{
      width: 20px;
    }
    .tick-icon, .cross-icon {
      justify-self: center;
    }
    .tick-icon {
      width: 25px;
    }
  }
}
