.sign-up-form {
  display: grid;
  justify-content: center;
  gap: 10px;
  .errorlist {
    @include error-message;
    justify-self: center;
  }
  .sign-up-title {
    justify-self: center;
    margin: 50px;
  }
  .sign-up-container {
    display: flex;
    justify-content: space-between;

    .sign-up-label {
      margin-right: 20px;
    }
  }
}
