{% extends 'base.html' %}

{% block title %}Create Battle{% endblock %}

{% block body %}
<form method="post" class="choose-opponent-form">
  {% csrf_token %}
  {{ form.errors }}
  {{ form.non_field_errors}}
  <h2 class="choose-opponent-title">Choose your opponent:</h2>
  <div class="opponent-form-container">
    {{ form.user_creator }}
    {{ form.user_opponent }}
    <input type="submit" value="Go!" class="opponent-form-button">
  </div>
  <span>OR</span>
  <a href="{% url 'users:invite_friend' %}">Invite a friend!</a>
</form>
{% endblock %}
