{% extends 'base.html' %}
{% load static %}

{% block title %}Create your team{% endblock %}

{% block body %}

{% if messages %}
  {% for message in messages %}
    <h2 class="team-already-exists-title">{{ message }}</h2>
  {% endfor %}
{% else %}

<form method="post" class="choose-team-form">
  {% csrf_token %}
  {{ form.trainer }}

  {{ form.non_field_errors}}
  <h2 class="choose-team-title">Choose your team:</h2>
  <div class="choose-pokemon-container">
    <label for="pokemon_1" class="choose-pokemon-label">First Pokemon</label>
    {{ form.pokemon_1 }}
    <label for="order_1" class="choose-round-label">Round</label>
    {{ form.order_1 }}
  </div>
  <div class="choose-pokemon-container">
    <label for="pokemon_2" class="choose-pokemon-label">Second Pokemon</label>
    {{ form.pokemon_2 }}
    <label for="order_2" class="choose-round-label">Round</label>
    {{ form.order_2 }}
  </div>
  <div class="choose-pokemon-container">
    <label for="pokemon_3" class="choose-pokemon-label">Third Pokemon</label>
    {{ form.pokemon_3 }}
    <label for="order_3" class="choose-round-label">Round</label>
    {{ form.order_3 }}
  </div>
  <input type="submit" value="Go!" class="team-form-button">
</form>
{% endif %}

<!-- Django autocomplete-light configuration -->
<script type="text/javascript" src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>
{{ form.media }}
{% endblock %}
