{% extends 'base.html' %}
{% load static %}

{% block title %}Your Battle{% endblock %}

{% block body %}
{% include "includes/page-title.html" with title=battle %}

<div class="battle-detail">
  <p>
    <span class="detail-title">Players:</span>
    {{ user.get_short_name }} <span>VS</span> {{ opponent }}
  </p>

  <p>
    <span class="detail-title">Winner:</span>
    {% if not winner %}
      ?
    {% endif %}

    {{ winner }}
    {% if user.get_short_name == winner %}
    <img src="{% static "image/party-popper.png" %}" alt="party-popper" class="winner-icon">
    {% endif %}
  </p>

  <div class="battle-container">
    {% for pokemon in pokemon %}

    <p class="detail-title">Round {{ forloop.counter }}</p>
    <div class="round-detail">
      {% include "includes/pokemon-card.html" with pokemon=pokemon.0 trainer=user.get_short_name %}
      <span class="versus">VS</span>
      {% if winner %}
        {% include "includes/pokemon-card.html" with pokemon=pokemon.1 trainer=opponent %}
      {% else %}
        {% include "includes/pokemon-card.html" with trainer=opponent pokemon=False %}
      {%  endif %}
      </div>
    {% endfor %}
  </div>

</div>

{% endblock %}
