.pokemon-card {
  width: 300px;
  text-align: center;
  border-radius: 10px;
  background-color: $white;
  padding-bottom: 10px;
  box-shadow: 0px 0px 15px -13px $shadow-black;

  .pokemon-trainer {
    border-radius: 10px 10px 0 0;
    background-color: $purple;
    color: $white;
    font-weight: 500;
    padding: 10px;
  }

  .pokemon-stats {
    font-weight: 500;
  }
  .no-pokemon {
    font-weight: 700;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
  }
}
